@model ED_MVC.Domain.Product

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        string name = "Stan";
    }
    <h1 class="display-4">My products name is: @Model.Name</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
