@using ED_MVC.Domain
@model ProductIndexViewModel

<h1>Product Categories</h1>
<h2>Total Produts: @Model.CountOfProducts</h2>
<ul class="list-unstyled">
    @foreach(Category c in Model.Categories)
    {
        <li>@c.Name</li>
    }
</ul> 